{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>theEcoGames</title>
	<link rel="stylesheet" href="style.css"></head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content %}

<body>

	<div id = "quote">
		<h1><strong>Ready to Compete?</strong></h1>
	</div>

	<div class="b1">
		<div class="b2">
			<img src="./cup.png" alt="">
		</div>

		<div class="b3">
			<h1>Compete for the Champions Cup!</h1>

			<button class = "btn btn-success">Go!</button>
		</div>
	</div>

	<div class="b4">
		<div class="b5">
			<h4>Record Todays Activities</h4>
			<i class="fa fa-book" style="font-size:48px;color:white"></i>			
			
			<a href="{% url 'gameapp:activities' %}"> <button class = "btn btn-light"> Go!</button> </a>
		</div>

		<div class="b6">
			<h4>View the map</h4>
			<i class="fa fa-map" style="font-size:48px;color:white"></i>			

			<a href="{% url 'gameapp:maps' %}"> <button class = "btn btn-light"> Go!</button> </a>
		</div>

	</div>

</body>

</html>

{% endblock %}