{% extends "base.html" %}
{% load static %}

{% block content %}

<br>  
<h1 class="display-5 fw-bold">Privacy Policy</h1>
<br>


<p><strong>GDPR ACTS.</strong></p>
<p>The General Data Protection Regulation (GDPR) is a regulation of the European Union (EU) that sets out rules for the protection of the personal data of EU citizens. The GDPR became enforceable on May 25, 2018, and has been incorporated into UK law through the Data Protection Act 2018.</p>
<p>The GDPR also gives individuals the right to access, modify, and delete their personal data held by organizations. Organizations must provide individuals with clear and transparent information about the processing of their data and must report any data breaches to the relevant authorities within 72 hours.</p>
<p><br></p>
<p><strong>PRIVACY POLICY</strong></p>
<p>We respect your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and share your information in connection with our energy consumption application.</p>

<p>&middot; We collect information from you when you use our project, including your name, email address, and energy consumption data.</p>
<p>&middot; We use your information to calculate your energy consumption and assign points to you.</p>
<p>&middot; We use your information to improve our app, such as by analysing user behaviour and preferences, and to communicate with you about updates and changes to our app.</p>
<p>&middot; We do not share your personal information with third parties unless required by law.</p>
<p>&middot; We use industry-standard security measures to protect your information, including encryption and secure storage.</p>
<p>&middot; We retain your information for as long as necessary to provide our services to you and to comply with legal requirements. We securely delete your information when it is no longer needed.</p>
<p>&middot; You have the right to access, correct, or delete your information. To do so, please contact us using live chat or the feedback form.</p>
<p>&middot; We may update this Privacy Policy from time to time. Any changes will be communicated to you and will be effective when posted.</p>

{% endblock %}