{% block title %}
<title>Chat</title>
{% endblock title %}

    
{% block script %}
<script>
    $( document ).ready(function() {
        const roomName =document.getElementById('room_name').value;
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );
    
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };
    
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };

    });
</script>
{% endblock script %}

{% block content%}
<div class="chat-box">
    <h1 class="chat-text">How can we help?</h1>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <input class="chat-text" type="hidden" id="room_name" value="{{room_name}}">
</div>

<style>
.chat-box{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.chat-text {
    color: white;
}

</style>

{% endblock content%}