@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


$oldnavcolor: #549B78;

$navcolor: rgb(54, 102, 50);

//$footercolour: #198754;

$footercolour: rgb(36, 149, 92);
$navfont: 'Kanit', sans-serif;

$colourshadow: 5px 5px 25px rgb(81, 81, 81);



#daNavbar {
    background-color: $navcolor;
    box-shadow: 2px 2px 25px black;
}


body {
    //background-color: #ECD1BA;
    background-color: #FFDFA2;
   // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EAC8AB'/%3E%3Cstop offset='1' stop-color='%23ECD1BA'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23CDB698'/%3E%3Cstop offset='1' stop-color='%23FFDFA2'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23e6cb9d'/%3E%3Cstop offset='1' stop-color='%23FFDFA2'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(220 0)'%3E%3Cg transform='translate(0 195)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-82.8 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}




// Homepage Stylings

#featuredCard {
    //box-shadow: 5px 5px 25px black;
    box-shadow: $colourshadow;
    background-color: rgba(245, 245, 245, 0.878);
}

#featuredCard h1{
    transition: font-size 0.5s;
}

#featuredCard:hover{
    
    h1 {
        font-size: 275%;
    }

}

#featuredCard a {
    opacity: 0%;
}

#activityCard {
    //box-shadow: 5px 5px 10px black;
    box-shadow: $colourshadow;
    background-color: rgba(4, 138, 248, 0.878);
}


#activityCard h1 {
    transition: font-size 0.5s;
}

#activityCard:hover{
    
    h1 {
        font-size: 275%;
    }

}

#activityCard a {
    opacity: 0%;
}


#mapCard {
    box-shadow: 5px 5px 25px rgb(81, 81, 81);
    background-color: rgba(30, 136, 14, 0.878);
}

#mapCard h1 {
    transition: font-size 0.5s;
}

#mapCard a {
    opacity: 0%;
}

#mapCard:hover{
    
    h1 {
        font-size: 275%;
    }

}


// Tips View Stylings


#tipsTitle {
    margin-left: 2%;
    font-size: 300%;
}

#tipsSubtitle {
    margin-left: 2.5%;
    font-size: medium;
}


#tipGrid .card-body {
    box-shadow: 2px 2px 30px black;
    transition: font-size 0.5s;
    
}

#tipGrid .card-body:hover {
    font-size: 105%;
}

// #tipCard {
//     transition: width 0.5s;
//     transition: height 0.5s;

    
// }

// #tipCard:hover {
//     width: 102%;
//     height: 102%;
//     font-size: 102%;
// }


// Profile View Stylings

// Profile Pane

#profilePane {
    padding-top: 5%;
}

#profilePane h2 {
    text-align: center;
}

#profilePane p {
    text-align: center;
}

#profileCard {
    padding: 30px;
}

// Profile Widgets

#profileWidgets {
    margin: auto;
}


#profileWidgets img{
    height: 100px;
    width: 100px;

}

#profileWidgets h2 {
    text-align: center;
}

#profileWidgets p {
    text-align: center;
}


#contentblock {
    display: flex;
    flex-wrap: wrap;
}

#horizontalnav a {
    color: white;
}

#vertnav {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100vh;
}

// Footer CSS

#footerText {
    font-family: $navfont;
    text-align: center;
    color: white;
}

#pageFooter {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $footercolour;
    box-shadow: 10px 10px 50px black;
}

// Forms

.formfield{
    display: block;
}

.form-control {
    display: block;
}

#contactForm {
    text-align: center;
    margin: auto;
    width: 50%;
}

// Default Django alerts CSS

.success {
    background-color: #1ab31a;
    text-align: center;
}

.error, .errorlist{
    background-color: #781212;
    text-align: center;
}



// Activities stylings

#activityTitle {
	text-align: center;
}

fieldset {
	margin-bottom: 20px;
}

#fieldset label {
    display: table-cell;
}

legend {
	font-weight: bold;
}

#activityButton input[type="button"] {
	margin-top: 10px;
}

#total-points {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
}
