@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


$oldnavcolor: #549B78;

$navcolor: rgb(54, 102, 50);

//$footercolour: #198754;

$footercolour: rgb(36, 149, 92);
$navfont: 'Kanit', sans-serif;

$colourshadow: 5px 5px 25px rgb(81, 81, 81);



#daNavbar {
    background-color: $navcolor;
    box-shadow: 2px 2px 25px black;
}


body {
    background-color: #ECD1BA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EAC8AB'/%3E%3Cstop offset='1' stop-color='%23ECD1BA'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


// Homepage Stylings

#featuredCard {
    //box-shadow: 5px 5px 25px black;
    box-shadow: $colourshadow;
    background-color: rgba(245, 245, 245, 0.878);
}

#featuredCard h1{
    transition: font-size 0.5s;
}

#featuredCard:hover{
    
    h1 {
        font-size: 275%;
    }

}

#featuredCard a {
    opacity: 0%;
}

#activityCard {
    //box-shadow: 5px 5px 10px black;
    box-shadow: $colourshadow;
    background-color: rgba(4, 138, 248, 0.878);
}


#activityCard h1 {
    transition: font-size 0.5s;
}

#activityCard:hover{
    
    h1 {
        font-size: 275%;
    }

}

#activityCard a {
    opacity: 0%;
}


#mapCard {
    box-shadow: 5px 5px 25px rgb(81, 81, 81);
    background-color: rgba(30, 136, 14, 0.878);
}

#mapCard h1 {
    transition: font-size 0.5s;
}

#mapCard a {
    opacity: 0%;
}

#mapCard:hover{
    
    h1 {
        font-size: 275%;
    }

}


// Tips View Stylings


#tipsTitle {
    margin-left: 2%;
    font-size: 300%;
}

#tipsSubtitle {
    margin-left: 2.5%;
    font-size: medium;
}


#tipGrid .card-body {
    box-shadow: 2px 2px 30px black;
    transition: font-size 0.5s;
    
}

#tipGrid .card-body:hover {
    font-size: 105%;
}

// #tipCard {
//     transition: width 0.5s;
//     transition: height 0.5s;

    
// }

// #tipCard:hover {
//     width: 102%;
//     height: 102%;
//     font-size: 102%;
// }


// Profile View Stylings

// Profile Pane

#profilePane {
    padding-top: 5%;
}

#profilePane h2 {
    text-align: center;
}

#profilePane p {
    text-align: center;
}

#profileCard {
    padding: 30px;
}

// Profile Widgets

#profileWidgets {
    margin: auto;
}


#profileWidgets img{
    height: 100px;
    width: 100px;

}

#profileWidgets h2 {
    text-align: center;
}

#profileWidgets p {
    text-align: center;
}


#contentblock {
    display: flex;
    flex-wrap: wrap;
}

#horizontalnav a {
    color: white;
}

#vertnav {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100vh;
}

// Footer CSS

#footerText {
    font-family: $navfont;
    text-align: center;
    color: white;
}

#pageFooter {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $footercolour;
    box-shadow: 10px 10px 50px black;
}

// Forms

.formfield{
    display: block;
}

.form-control {
    display: block;
}

#contactForm {
    text-align: center;
    margin: auto;
    width: 50%;
}

// Default Django alerts CSS

.success {
    background-color: #1ab31a;
    text-align: center;
}

.error, .errorlist{
    background-color: #781212;
    text-align: center;
}



// Activities stylings

#activityTitle {
	text-align: center;
}

fieldset {
	margin-bottom: 20px;
}

#fieldset label {
    display: table-cell;
}

legend {
	font-weight: bold;
}

#activityButton input[type="button"] {
	margin-top: 10px;
}

#total-points {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
}
