{% extends 'base.html' %}


{% block content %}

<body>
    
	<h1 id = "activityTitle">Activity Points Calculator</h1>
	<p>Select the activities you've completed and we'll calculate your total points!</p>
	<form>
		<fieldset>
			<legend>Activities</legend>
			<label><input type="checkbox" name="activity" value="run">Run (100 points)</label><br>
			<label><input type="checkbox" name="activity" value="bike ride">Bike ride(90 points)</label><br>
			<label><input type="checkbox" name="activity" value="swim">Swim (120 points)</label><br>
            <label><input type="checkbox" name="activity" value="laundry">Laundry (80 points)</label><br>
            <label><input type="checkbox" name="activity" value="10 minute shower">10 minute shower (80 points)</label><br>
            <label><input type="checkbox" name="activity" value="5 minute shower">5 minute shower (70 points)</label><br>
            <label><input type="checkbox" name="activity" value="3 minute shower">3 minute shower (50 points)</label><br>
		</fieldset>
        
        <fieldset>
			<legend>Add New Activity</legend>
			<label>Activity Name: <input type="text" name="newActivityName"></label><br>
			<label>Points: <input type="number" name="newActivityPoints"></label><br>
			<input type="button" value="Add Activity" onclick="addActivity()">
		</fieldset>
	
		<input type="button" id = "activityButton" value="Calculate Points" onclick="calculatePoints()">
		<div id="total-points"></div>
	</form>


    
</body>

{% endblock %}