{% extends 'base.html' %}
{% load static %}

<!-- Note these will be changed to dynamically generating cards once things in the backend are ready -->


{% block content %}

<br>
<h1 class="display-5 fw-bold">Record Your Activities</h1>
<h5>What have you done today?...</h5>
<br>

<!-- Personalised Tips -->
{% comment %} <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id = "tipGrid">

{% for category in category_list %}
        <div class="col-sm">
            <div class="card text-white h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <p class="card-text">
                            <a href="{% url 'gameapp:activitiesDetails' category.id %}">
                            {{ category.name}}
                            </a>
                        </p>
                    </div>
            </div>
        </div>
    {% endfor %}
</div> {% endcomment %}


<!-- Activity Categories --> 

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" id = "categoryList">

    {% for category in category_counts %}

    <div class="col">
      <div class="card">
        <img src="{% static 'house2.png' %}" class="card-img-top img-fluid rounded mx-auto d-block" alt="Activity Icon">
        <a href="{% url 'gameapp:activitiesDetails' category.id %}" class="btn stretched-link" id = "link"></a>
        <div class="card-body">
          <h5 class="card-title"><strong>{{category.name}}</strong></h5>
          {% comment %} <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
        </div>
        <div class="card-footer">
            <small class="text-white">{{category.count}} {{category.count|pluralize:"activity,activities"}}</small>
          </div>
      </div>
    </div>

    {% endfor %}

</div>

{% endblock content %}