{% extends "base.html" %}


{% block content %}

  <br>  
  <h1 class="display-5 fw-bold">Leaderboards</h1>
    <h5>Climb the Eco Ranks!</h5>
    <br>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Region</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">National</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Top 100</a>
        </li>
      </ul>
      <br>
    
  

     <ol class="list-group list-group-numbered">

      {% for u in topChallengers %}

    <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-success">
      <div class="ms-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </div>
      <div class="ms-2 me-auto">
      <div class="fw-bold">{{u.user.username}}</div>
      [{{u.postcode}}]
      </div>
      <span class="badge bg-success rounded-pill">{{u.score}}</span>
    </li>

    {% endfor %}

  </ol>

        {% comment %}
        <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-success">
            <div class="ms-2">
                <img src="https://github.com/annam-c.png" alt="@mdo" width="32" height="32" class="rounded me-2" loading="lazy"> 
            </div>
            <div class="ms-2 me-auto">
            <div class="fw-bold">Player Name</div>
            [Challenger]
            </div>
            <span class="badge bg-success rounded-pill">6501</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-warning">
            <div class="ms-2">
                <img src="https://github.com/melricflash.png" alt="@mdo" width="32" height="32" class="rounded me-2" loading="lazy"> 
            </div>
            <div class="ms-2 me-auto">
            <div class="fw-bold">Player Name</div>
            [Hero]
            </div>
          <span class="badge bg-success rounded-pill">6271</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start list-group-item-danger">
            <div class="ms-2">
                <img src="https://github.com/oze15.png" alt="@mdo" width="32" height="32" class="rounded me-2" loading="lazy"> 
            </div>
            <div class="ms-2 me-auto">
            <div class="fw-bold">Player Name</div>
            [Master]
            </div>
          <span class="badge bg-success rounded-pill">5839</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> 
            </div>
            <div class="ms-2 me-auto">
            <div class="fw-bold">Player Name</div>
            [Climate Hero]
            </div>
          <span class="badge bg-success rounded-pill">4203</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> 
            </div>
            <div class="ms-2 me-auto">
            <div class="fw-bold">Player Name</div>
            [Elite]
            </div>
          <span class="badge bg-success rounded-pill">4108</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> 
            </div>
            <div class="ms-2 me-auto">
            <div class="fw-bold">Player Name</div>
            [Endurance]
            </div>
          <span class="badge bg-success rounded-pill">4107</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> 
            </div>
            <div class="ms-2 me-auto">
            <div class="fw-bold">Player Name</div>
            [Founder]
            </div>
          <span class="badge bg-success rounded-pill">3293</span>
        </li>
      </ol> {% endcomment %}
{% endblock content %}