{% extends 'base.html' %}
{% load static %}

<!-- Profile Template -->

{% block script %}
<!-- WHEN LOADING THE JAVASCRIPT FILE FROM STATIC, MUST BE PLACED INSIDE BODY -->
<script type="text/javascript" src="{% static 'js/profileView.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chatWidget.js' %}"></script>
{% endblock script %}


{% block content %}



<br>
<h1 class="display-5 fw-bold">Your Profile</h1>
<h5>All about you!</h5>

<!-- Profile Panel -->


<div id = "profilePane">

    <div class = "d-flex justify-content-center" >

        <div class="card mb-3 border border-dark" style="max-width: 540px;" id = "profileCard">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'defaultprofile.png' %}" class="img-fluid rounded-start rounded-circle" alt="You!">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><strong>{{currentUser.username}}</strong></h2>
                  <p class="card-text">You are representing <strong>{{challenger.postcode}}</strong></p>
                  
                  <br>

                  <div class = "d-flex justify-content-center">  
                    <button type = "button" class = "btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"><strong>Change your location</strong></button>
                  </div>

                </div>
              </div>
            </div>
          </div>
    
    </div>


</div>

<br>


<!-- Modal -->

<!-- Doesnt trigger unless button is clicked and javascript enabled -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change your location</h5>
        {% comment %} <p>{{challenger.user.id}}</p> {% endcomment %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form method="POST" id = "locationUpdateForm" enctype="multipart/form-data" action = "{% url 'gameapp:locationUpdater' %}">
          {% csrf_token %}
          {{ locationForm.as_p }}
          <input class = "btn btn-primary" type="submit" value="Save" />
          
        </form>
        
      </div>

      
    </div>
  </div>
</div>


<!-- Points Widget -->


<div class="row row-cols-2 row-cols-md-2 g-2">

    <!-- Points -->

    <div class = "col">

        <div class="card text-white bg-success h-100" id = "pointsCard">
            <div class="row g-0">
              <div class="col-md-4">
                {% comment %} <img src="{% static 'points.jpeg' %}" class="img-fluid rounded-start" alt="..."> {% endcomment %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">Your Points</h2>
                  <p class="card-text">You Earned <strong>{{challenger.score}}</strong> Points!</p>
                </div>
              </div>
            </div>
          </div>

    </div>

    <!-- Activities -->


    <!-- Count the items in the cart with the date matching with todays -->

    <div class = "col">

        <div class="card text-white bg-primary h-100" id = "activityCard">
            <div class="row g-0">
              <div class="col-md-4">
                {% comment %} <img src="{% static 'points.jpeg' %}" class="img-fluid rounded-start" alt="..."> {% endcomment %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">Lifetime Activity</h2>
                  <p class="card-text">You tracked <strong>{{recordedActivities}} activities</strong> in total!</p>
                </div>
              </div>
            </div>
          </div>

    </div>

    <!--  -->

    {% comment %} <div class = "col">

        <div class="card text-white bg-warning h-100 shadow-lg" style=>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'points.jpeg' %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">CO2 Saved</h2>
                  <p class="card-text">You saved 50g of Carbon</p>
                </div>
              </div>
            </div>
          </div>

    </div> {% endcomment %}

</div>



<!-- Riddle -->

<div id = "profilePane">

      <div class = "d-flex justify-content-center">
  
          <div class="card mb-3 border border-dark" style="max-width: 540px;" id = "riddle">

            <div class="card-header"><p class="card-text">Riddle of the month</p></div>       

            <div class="card-body"><p class="card-text">{{api_response}}</p></div>

          </div>
      
      </div>
  
  
</div>



{% endblock %}
