{% extends 'base.html' %}


<!-- Note these will be changed to dynamically generating cards once things in the backend are ready -->


{% block content %}

<br>

<h1 class="display-5 fw-bold">Your Personalised Tips</h1>
<h5>Reduce your carbon footprint even more!</h5>
<br>

<!-- Personalised Tips -->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id = "tipGrid">

    <div class="col-sm">
      <div class="card text-white bg-danger h-100"  id = "tipCard">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Thermostat</strong></h5>
          <p class="card-text">You can save energy by using the heating less on warmer days.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card text-white bg-success h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Driving</strong></h5>
          <p class="card-text">Try driving your car in less congested times, or take a new route.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card text-white bg-primary h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Showers</strong></h5>
          <p class="card-text">Try shortening your showers down to 15 minutes, you currently average 36 minutes.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card bg-warning h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Devices</strong></h5>
          <p class="card-text">Did you know? Your phone can charge when the grid index is low! Turn it on from your phone settings!</p>
        </div>
      </div>
    </div>

    
  </div>

  
  <br> <br>
  <!-- Trending Tips -->

  <h1 class="display-5 fw-bold">Trending in your area</h1>
  <h5>See what people around you are doing...</h5>
  <br>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id = "tipGrid">

    <div class="col-sm">
      <div class="card text-white bg-danger h-100"  id = "tipCard">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Thermostat</strong></h5>
          <p class="card-text">You can save energy by using the heating less on warmer days.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card text-white bg-success h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Driving</strong></h5>
          <p class="card-text">Try driving your car in less congested times, or take a new route.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card text-white bg-primary h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Showers</strong></h5>
          <p class="card-text">Try shortening your showers down to 15 minutes, you currently average 36 minutes.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card bg-warning h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Devices</strong></h5>
          <p class="card-text">Did you know? Your phone can charge when the grid index is low! Turn it on from your phone settings!</p>
        </div>
      </div>
    </div>

    
  </div>

  <br><br>

  <h1 class="display-5 fw-bold">Keep tracking activities and we'll tune your feed!</h5>

{% endblock content %}