{% extends 'base.html' %}


<!-- Note these will be changed to dynamically generating cards once things in the backend are ready -->


{% block content %}
<br>  
  <h1 class="display-5 fw-bold">Energy Saving Tips</h1>
<br>

  <div id="tips-header" class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Logged Activities</h5>
      <p class="card-text">Keep up the good work! We are keeping track of what you're doing most of..</p>
    </div>
  </div>

  <br>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id = "tipGrid">

    <div class="col-sm">
      <div class="card text-white bg-danger h-100"  id = "tipCard">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Heating</strong></h5>
          {% if heating_user_popular|length == 0 %}
            <p class="card-text">It doesn't look like you have logged much this week!</p>
            <p class="card-text">Help your team and try some more energy saving heating activities! See below for recommendations</p>
          {% else %}
            {% for act in heating_user_popular %}
              <p class="card-text">&check; {{act.title}}</p>
            {% endfor %}   
          {%endif%}
     
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card text-white bg-success h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Washing</strong></h5>
          {% if washing_user_popular|length == 0 %}
            <p class="card-text">It doesn't look like you have logged much this week!</p>
            <p class="card-text">Help your team and try some more energy saving washing activities! See below for recommendations</p>
          {% else %}
            {% for act in washing_user_popular %}
              <p class="card-text">&check; {{act.title}}</p>
            {% endfor %}    
          {% endif %} 
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card text-white bg-primary h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Bathroom</strong></h5>
          {% if bathroom_user_popular|length == 0 %}
            <p class="card-text">It doesn't look like you have logged much this week!</p>
            <p class="card-text">Help your team and try some more energy saving activities in the bathroom! See below for recommendations</p>
          {% else %}
            {% for act in bathroom_user_popular %}
              <p class="card-text">&check; {{act.title}}</p>
            {% endfor %}     
          {% endif %}        
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card bg-warning h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Devices</strong></h5>
          {% if devices_user_popular|length == 0 %}
            <p class="card-text">It doesn't look like you have logged much this week!</p>
            <p class="card-text">Help your team and try some more electronics energy saving activities! See below for recommendations</p>
          {% else %}
            {% for act in devices_user_popular %}
              <p class="card-text">&check; {{act.title}}</p>
            {% endfor %} 
          {% endif %}  
        </div>
      </div>
    </div>
  </div>

  <br> <br>

<div id="tips-header" class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Recommendations for you! </h5>
    {% if temperature > 20 %}
    <p class="card-title">It's hot today! Hang your washing out to dry instead of using the dryer to save energy!</p>
    <img id="weather-image" src='/static/sun.png'>
    {% else %}
    <p class="card-title">It's cloudy today</p>
    <img id="weather-image" src='/static/cloud.png'>
    {%endif%}
    <p class="card-title">Temperature: {{temperature}} Celcius, Humidity: {{humidity}} Celcius, Wind speed: {{wind_speed}} mph </p>
    <p class="card-text">Reduce your carbon footprint even more with some of these...</p>
  </div>
</div>

<br>

<!-- Personalised Tips -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id = "tipGrid">
    <div class="col-sm">
      <div class="card text-white bg-danger h-100"  id = "tipCard">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Heating Tips</strong></h5>
          {% if heating_recommendations|length == 0 %}
              <p class="card-text">Keep doing what you're doing!</p>
            {% else %}
              {% for recommendation in heating_recommendations %}
                <p class="card-text">&check; {{recommendation.title}}</p>
              {% endfor %}
          {%endif%}
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card text-white bg-success h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Washing Tips</strong></h5>
          {% if washing_recommendations|length == 0 %}
            <p class="card-text">Keep doing what you're doing!</p>
          {% else %}
            {% for recommendation in washing_recommendations %}
              <p class="card-text">&check; {{recommendation.title}}</p>
            {% endfor %}
          {%endif%}
        </div>
      </div>
    </div>



    <div class="col-sm">
      <div class="card text-white bg-primary h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Bathroom Tips</strong></h5>
          {% if bathroom_recommendations|length == 0 %}
            <p class="card-text">Keep doing what you're doing!</p>
          {% else %}
            {% for recommendation in bathroom_recommendations %}
              <p class="card-text">&check; {{recommendation.title}}</p>
            {% endfor %}
          {%endif%}
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card bg-warning h-100">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><strong>Devices Tips</strong></h5>
          {% if devices_recommendations|length == 0 %}
            <p class="card-text">Keep doing what you're doing!</p>
          {% else %}
            {% for recommendation in devices_recommendations %}
            <p class="card-text">&check; {{recommendation.title}}</p>
            {% endfor %}
          {%endif%}
        </div>
      </div>
    </div>

</div>

  
  <br> <br>
  <!-- Trending Tips -->

  <div id="tips-header" class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Popular!</h5>
      <p class="card-text">See what people around you are doing..</p>
    </div>
  </div>
  <br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id = "tipGrid">
  <div class="col-sm">
    <div class="card text-white bg-danger h-100"  id = "tipCard">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><strong>Heating Tips</strong></h5>
        {% if heating_popular|length == 0 %}
            <p class="card-text">These aren't so popular</p>
          {% else %}
            {% for initiative in heating_popular %}
              <p class="card-text">&check; {{initiative.title}}</p>
            {% endfor %}
        {%endif%}
      </div>
    </div>
  </div>


  <div class="col-sm">
    <div class="card text-white bg-success h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><strong>Washing Tips</strong></h5>
        {% if washing_popular|length == 0 %}
          <p class="card-text">These aren't so popular</p>
        {% else %}
          {% for initiative in washing_popular %}
            <p class="card-text">&check; {{initiative.title}}</p>
          {% endfor %}
        {%endif%}
      </div>
    </div>
  </div>



  <div class="col-sm">
    <div class="card text-white bg-primary h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><strong>Bathroom Tips</strong></h5>
        {% if bathroom_popular|length == 0 %}
          <p class="card-text">These aren't so popular</p>
        {% else %}
          {% for initiative in bathroom_popular %}
            <p class="card-text">&check; {{initiative.title}}</p>
          {% endfor %}
        {%endif%}
      </div>
    </div>
  </div>


  <div class="col-sm">
    <div class="card bg-warning h-100">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><strong>Devices Tips</strong></h5>
        {% if devices_popular|length == 0 %}
          <p class="card-text">These aren't so popular</p>
        {% else %}
          {% for initiative in devices_popular %}
          <p class="card-text">&check; {{initiative.title}}</p>
          {% endfor %}
        {%endif%}
      </div>
    </div>
  </div>

</div>


<br> <br>

<div id="tips-header" class="card text-center">
  <div class="card-body">
    <h5 class="card-title"><strong>Keep tracking activities and we'll tune your feed!</strong></h5>  </div>
</div>

{% endblock content %}