<!-- The base web sheet -->
{% load static %}
{% load sass_tags %}
<!-- HTML5 Boilerplate-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- HTML5 Boilerplate -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

        {% block title %}
        <title>The Eco Games</title>
        {% endblock title %}

        <!-- Favicon -->
        <link rel = "icon" type = "image/x-icon" href = "{% static 'favicon.png' %}">

        <!-- AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- Bootstrap JQuery -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        

        

        <!-- CSS File-->
        <link rel="stylesheet" type="text/css" href={% sass_src 'css/base.scss' %}>

    </head>

    <body>
        <!-- Load the navbar -->
        {% include 'navbar.html' %}

        <!-- Load Django messages -->
        {% include 'messages.html' %}


        <!-- Fix Vertical Navbar -->
        
        <!-- <div id = contentblock>
            <div id = othercontainer>
                


            </div>
            <div id = "childcontainer">
                 
            </div>
            
        </div> -->
        
        <!-- Content goes between these blocks -->
        {% block content %}
        {% endblock content %} 

        

        <!-- Footer text -->
        {% block footerText %}
        <div id = "pageFooter">
            <p id = "footerText">The Eco Games - Sprint 1 Beta</p>
        </div>
        {% endblock footerText %}



    </body>

    
   


</html>