
    {% block content %}
    <div class="container">
      <form>
        {% csrf_token %}
        <div class="shopping-cart">
          <div class="shopping-cart-header">
            {% comment %} <a id="submitButtonCart" class="submitButton" href="" onclick="recordPoints()">Submit</a> {% endcomment %}
            <button id="submitButtonCart" type="button" class="submitButton">Submit</button>
            <a id="deleteAll" class="submitButton" href="{% url 'gameapp:emptyCart' %}">Empty Cart</a>
              <div class="shopping-cart-total">
              <span class="lighter-text">Total:</span>
            </div>
          </div> <!--end shopping-cart-header -->
        {% for item in line_items %}
          {% include 'game/lineItem.html' with item=item %}
        {% endfor %}
        </div> <!--end shopping-cart -->
      </form>
    </div> <!--end container -->

   <style>
    $main-color: #6394F8;
    $light-text: #ABB0BE;
    
    @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
    
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
    
    *, *:before, *:after {
      box-sizing: border-box;
    }
    
    body {
      {% comment %} font: 14px/22px "Lato", Arial, sans-serif; {% endcomment %}
    }
    
    .lighter-text {
      color: #ABB0BE;
    }
    
    
    .shopping-cart {
      margin: 20px 0;
      float: right;
      background: rgb(25,135,84);
      width: 320px;
      position: relative;
      border-radius: 3px;
      padding: 20px;
      z-index: 999;
      position: fixed;
      top:0;
      right:20px;
    }
    .shopping-cart:after {
        bottom: 100%;
        left: 89%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: rgb(25,135,84);
        border-width: 8px;
        margin-left: -8px;
    }
    
    .submitButton {
      background: rgb(255,193,7);
      color:white;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      display: block;
      border-radius: 3px;
      font-size: 16px;
      margin: 25px 0 15px 0;
      
      &:hover {
        background: lighten($main-color, 3%);
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
    
    .line-item {
      color: white;
    }
    

  </style>

  <script>
    
    $('#submitButtonCart').click(function(e) {
      e.preventDefault(); 
      var elements = $(".line-item");
      var csrf_token = $('[name="csrfmiddlewaretoken"]').val(); // Retrieve CSRF token from the form
      // Extract relevant data from elements
      var elementData = [];
      for (var i = 0; i < elements.length; i++) {
        id = parseInt(elements[i].getAttribute('name'))
        elementData.push(id);
      }
      console.log(elementData);
      $.ajax({
        url: '/game/recordPoints',
        method: 'POST',
        data: {
          'list_items': elementData,
        },
        headers: {
          'X-CSRFToken': csrf_token // Include CSRF token in headers
        },
        success: function(response) {
          console.log(response);
          console.log("test");
          window.location.reload();
        },
        error: function() {
          console.log("Something went wrong.");
        }
      });
      console.log("end")
    });

  </script>

  {% endblock %}